*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.date{
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-color: #d3e1ee00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #17384c;
}

.date h1{
    font-size: 1.5rem !important;
    margin: 0px 0px !important;
    background-color: #d3e1ee00;
}

.current-weather{
    width: 50%;
    height: 150px;
    background-color: #d3e1eece;
    text-align: center;
    margin: 50px auto;
    margin-top: 10px;
    border-radius: 10px;
    /* border: 2px solid #6b6974cb; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.location{
    width: 50%;
    height: 100%;
    background-color: #d3e1ee00;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #17384c;
}

.location h1, h2{
    margin: 0px 0px !important;
    background-color: #d3e1ee00;
}

.location h1{
    margin: 0px;
    padding-top: 10px;
    font-size: 1.5rem !important;
}

.location h2{
    padding: 10px;
    font-size: 4rem;
}

.weather{
    margin: 0px;
    width: 50%;
    height: auto;
    background-color: #d3e1ee91;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #17384c;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weather img{
    width: 80px;
    height: 80px;
    background-color: #d3e1ee00;
}

.weather h1{
    font-size: 1.5rem !important;
    margin: 0px 0px !important;
    background-color: #d3e1ee00;
}

.title{ 
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #d3e1ee00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #17384c;
}

.title h1{
    font-weight: 600;
    font-size: 1.2rem !important;
    margin: 0px 0px !important;
    background-color: #d3e1ee00;
}

.air-conditions{
    margin: 0px;
    width: 100%;
    height: auto;
    background-color: #d3e1ee00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #17384c;
}

.air-conditions h1{
    font-size: 0.9rem !important;
    margin: 0px 0px !important;
    background-color: #d3e1ee00;
}

.air-conditions div{
    padding: 10px;
    width: 125px;
    height: 90px;
    background-color: #d3e1eece;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0.2px solid rgba(0, 0, 0, 0.384);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.air-conditions span{
    background-color: #d3e1ee00;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.air-conditions span h1{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem !important;
    margin: 0px 0px !important;
    background-color: #d3e1ee00;
}

.air-conditions span h4{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem !important;
    margin: 0px 0px !important;
    background-color: #d3e1ee00;
}

.air-conditions img{
    width: 50px;
    height: 50px;
    background-color: #d3e1ee00;
}