* {
  font-family: 'Montserrat', sans-serif;
  background-color: #7286D3;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 700px;
  min-height: 600px;
  background-color: #e5e0ff6c;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App h1{
  font-size: 2.5rem;
  color: #17384c;
  margin: 32px 0;
  background-color: #e5e0ff00;
}

.search{
  margin: 0 auto;
  width: 300px;
  background-color: #e5e0ff00;
}

.search, form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 300px;
  border-radius: 20px;
  padding: 0 1rem;
}

input{
  background-color: transparent;
  font-weight: 500;
  border: none;
  outline: none;
  width: 90%;
  padding: 0.7rem 0.5rem;
  font-size: 18px;
  color: #17384c;
}

.search img{
  background-color: #17384c00;
  width: 30px;
  height: 30px;
}

.loading{
  margin: 100px auto;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #e5e0ff00;
  align-items: center;
}

.loading svg {
  background-color: #e5e0ff6c;
}

.error-message{
  margin: 100px auto;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #e5e0ff00;
  align-items: center;
}

.error-message p{
  background-color: #e5e0ff6c;
  padding: 1rem;
  border-radius: 10px;
  font-size: larger;
}